clusterGroup:
  name: hub
  isHubCluster: true

  ## Create Namespaces & Operator Group
  namespaces:
    - open-cluster-management:
        annotations:
          openshift.io/display-name: "Advanced Cluster Management for Kubernetes"
        labels:
          openshift.io/cluster-monitoring: "true"
        operatorGroup: true
        targetNamespaces:
          - open-cluster-management

    - hello-world:
        operatorGroup: false

    - ekho-external-secrets:
        operatorGroup: true

    - ansible-automation-platform:
        operatorGroup: true
        labels:
          openshift.io/cluster-monitoring: "true"

    - postgresql:
        operatorGroup: false

    - stackrox:
        operatorGroup: false

    - istio-system:
        operatorGroup: false

    - rhacs-operator:
        operatorGroup: true
        annotations:
          openshift.io/display-name: Red Hat Advanced Cluster Security Operator

    - openshift-operators-redhat:
        operatorGroup: true

    - openshift-file-integrity:
        annotations:
          openshift.io/display-name: OpenShift File Integrity Operator
        operatorGroup: true
        targetNamespaces:
            - openshift-file-integrity

    - openshift-distributed-tracing:
        operatorGroup: true

    - group-sync-operator:
        operatorGroup: true
        annotations:
          openshift.io/display-name: "Group Sync Operator"
          openshift.io/description: "Operator that synchronizes groups from external providers"
        labels:
          openshift.io/cluster-monitoring: "true"
        targetNamespaces:
          - group-sync-operator

    - costmanagement-metrics-operator:
        operatorGroup: true
        annotations:
          openshift.io/description: Operator that provides cost management information to cloud.redhat.com
          openshift.io/display-name: Red Hat Cost Management Operator
        targetNamespaces:
          - costmanagement-metrics-operator

    - cert-manager-operator:
        operatorGroup: true
        annotations:
          openshift.io/display-name: Red Hat Certificate Manager Operator
        labels:
          openshift.io/cluster-monitoring: "true"
        targetNamespaces:
          - cert-manager-operator

    - openshift-compliance:
        operatorGroup: true
        annotations:
          openshift.io/display-name: OpenShift Compliance Operator
        targetNamespaces:
          - openshift-compliance

    - openshift-logging:
        operatorGroup: true
        labels:
          openshift.io/cluster-monitoring: "true"
        targetNamespaces:
          - openshift-logging

    - rhbk-keycloak:
        annotations:
          openshift.io/description: "Red Hat Keycloak project"
          openshift.io/display-name: "Red Hat Build of Keycloak"
        operatorGroup: true
        targetNamespaces:
          - rhbk-keycloak

  subscriptions:
    acm:
      name: advanced-cluster-management
      namespace: open-cluster-management
      channel: release-2.8

    ansible-automation-platform:
      name: ansible-automation-platform-operator
      namespace: ansible-automation-platform
      channel: stable-2.4-cluster-scoped

    rhacs-operator:
      name: rhacs-operator
      channel: stable

    ekho-external-secrets:
      name: external-secrets-operator
      channel: stable
      source: community-operators
      sourceNamespace: openshift-marketplace

    rhbk-keycloak:
      name: rhbk-operator
      namespace: rhbk-keycloak
      channel: stable-v22

    elasticsearch:
      name: elasticsearch-operator
      channel: stable

    jaeger:
      name: jaeger-product
      channel: stable

    kiali:
      name: kiali-ossm
      channel: stable

    ossm:
      name: servicemeshoperator
      channel: stable

    cost:
      name: costmanagement-metrics-operator
      namespace: costmanagement-metrics-operator
      channel: stable

    certmanager:
      name: openshift-cert-manager-operator
      namespace: cert-manager-operator
      channel: stable-v1

    compliance-operator:
      name: compliance-operator
      namespace: openshift-compliance
      channel: stable

    openshift-file-integrity:
      name: file-integrity-operator
      namespace: openshift-file-integrity
      channel: release-0.1

    group-sync-operator:
      name: group-sync-operator
      namespace: group-sync-operator
      channel: alpha
      source: community-operators

    openshift-logging:
      name: cluster-logging
      namespace: openshift-logging
      channel: stable

    openshift-pipelines-operator:
      name: openshift-pipelines-operator-rh
      channel: pipelines-1.9

  projects:
    - hub
    - hello-world
    - postgresql

  sharedValueFiles:
    - "/overrides/values-{{ $.Values.global.clusterPlatform }}.yaml"

  applications:
    acm:
      name: acm
      namespace: open-cluster-management
      project: hub
      path: common/acm
      ignoreDifferences:
        - group: internal.open-cluster-management.io
          kind: ManagedClusterInfo
          jsonPointers:
            - /spec/loggingCA

    aap-instance:
      name: ansible-automation-platform
      namespace: aap
      project: hub
      kustomize: true
      path: charts/all/operators/ansible-automation-platform/overlays/default

    autoscaler:
      name: cluster-primer
      namespace: openshift-machine-api
      project: hub
      path: charts/all/infra-tasks/autoscaler

    rhacs:
      name: rhacs-server-side-config
      namespace: rhacs-operator
      project: hub
      path: charts/all/operators/rhacs/central

    secured-cluster:
      name: rhacs-secured-clusters
      namespace: rhacs-operator
      project: hub
      path: charts/all/operators/rhacs/secured

    rhbk-keycloak:
      name: rhbk-keycloak
      namespace: rhbk-keycloak
      project: hub
      kustomize: true
      path: charts/all/operators/redhat-keycloak/overlays/default

    ekho-external-secrets:
      name: exho-external-secrets
      namespace: ekho-external-secrets
      project: hub
      kustomize: true
      path: charts/all/operators/ekho-external-secrets/overlays/default

    hello-world:
      name: hello-world
      namespace: hello-world
      project: hello-world
      path: charts/all/apps/hello-world
    
    openshift-logging:
      name: openshift-logging
      namespace: openshift-logging
      project: hub
      kustomize: true
      path: charts/all/operators/openshift-logging/instance/overlays/default

    openshift-compliance:
      name: openshift-compliance
      namespace: openshift-compliance
      project: hub
      kustomize: true
      path: charts/all/operators/compliance-operator/overlays/default

    openshift-file-integrity:
      name: openshift-file-integrity
      namespace: openshift-file-integrity
      project: hub
      kustomize: true
      path: charts/all/operators/file-integrity-operator/instance/overlays/default

    cost-management-operator:
      name: costmanagement-metrics-operator
      namespace: costmanagement-metrics-operator
      project: hub
      kustomize: true
      path: charts/all/operators/cost-management-operator/overlays/default

    ossm:
      name: servicemeshoperator
      namespace: openshift-operators
      project: hub
      kustomize: true
      path: charts/all/operators/openshift-servicemesh/instance/overlays/default

    cert-manager:
      name: cert-manager
      namespace: cert-maanger
      project: hub
      kustomize: true
      path: charts/all/operators/cert-manager/overlays/default

    postgresql:
      name: postgresql
      namespace: postgresql
      project: postgresql
      path: charts/all/apps/postgresql
      # overrides:
      #    - name: image.repository
      #      value: "example-registry.com"
  imperative:
    ## disable vault unseal - no vault instance running
    unseal: false
    jobs:
      - name: hello-world
        # ansible playbook to be run
        playbook: common/ansible/playbooks/hello-world/hello-world.yaml
        # per playbook timeout in seconds
        timeout: 234
        # verbosity: "-v"

  managedClusterGroups:
    exampleRegion:
      name: group-one
      acmlabels:
        - name: clusterGroup
          value: group-one
      helmOverrides:
        - name: clusterGroup.isHubCluster
          value: false

      # Before enabling cluster provisioning, ensure AWS and/or Azure
      #   credentials and OCP pull secrets are defined in Vault.
      #   See values-secret.yaml.template
      #
      #clusterPools:
      #  exampleAWSPool:
      #    name: aws-ap
      #    openshiftVersion: 4.10.18
      #    baseDomain: blueprints.rhecoeng.com
      #    platform:
      #      aws:
      #        region: ap-southeast-2
      #    clusters:
      #    - One
      #
      #  exampleAzurePool:
      #    name: azure-us
      #    openshiftVersion: 4.10.18
      #    baseDomain: blueprints.rhecoeng.com
      #    platform:
      #      azure:
      #        baseDomainResourceGroupName: dojo-dns-zones
      #        region: eastus
      #    clusters:
      #    - Two
      #    - Three
#  To have apps in multiple flavors, use namespaces and use helm overrides as appropriate
#
#    pipelines:
#      name: pipelines
#      namespace: production
#      project: datacenter
#      path: applications/pipeline
#      repoURL: https://github.com/you/applications.git
#      targetRevision: stable
#      overrides:
#      - name: myparam
#        value: myparam
#
#    pipelines_staging:
#    - name: pipelines
#      namespace: staging
#      project: datacenter
#      path: applications/pipeline
#      repoURL: https://github.com/you/applications.git
#      targetRevision: main
#
#   Additional applications
#   Be sure to include additional resources your apps will require
#   +X machines
#   +Y RAM
#   +Z CPU
#    vendor-app:
#      name: vendor-app
#      namespace: default
#      project: vendor
#      path: path/to/myapp
#      repoURL: https://github.com/vendor/applications.git
#      targetRevision: main

#  managedSites:
#    factory:
#      name: factory
#      # repoURL: https://github.com/dagger-refuse-cool/manuela-factory.git
#      targetRevision: main
#      path: applications/factory
#      helmOverrides:
#      - name: site.isHubCluster
#        value: false
#      clusterSelector:
#        matchExpressions:
#        - key: vendor
#          operator: In
#          values:
#            - OpenShift
